/* BEGIN (write your solution here) */

@font-face {
    font-family: 'Cormorant';
    font-weight: normal;
    src: url('../assets/fonts/Cormorant-Regular.ttf');
}

@font-face {
    font-family: 'Cormorant';
    font-weight: bold;
    src: url('../assets/fonts/Cormorant-Bold.ttf');
}

/* END */

body {
    width: 790px;
    margin: 0 auto;
    padding: 50px 0 100px;
    /* BEGIN (write your solution here) */
    font: 16px / 24px sans-serif;
    /* END */
    background-color: #ebebeb;
}

figure {
    margin: 50px 0 0;
}

figcaption {
    font-size: 12px;
}

img {
    width: 100%;
}

.logo {
    margin-bottom: 30px;
    /* BEGIN (write your solution here) */
    font: 30px Cormorant, serif;
    color: #333;
    line-height: normal;
    /* END */
    letter-spacing: 15px;
    text-transform: uppercase;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav>* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    /* BEGIN (write your solution here) */
    color: #616161;
    font-weight: bold;
    /* END */
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-decoration: none;
}

.interview {
    /* BEGIN (write your solution here) */
    color: #333;
    font: 18px/1.5 serif;
    /* END */
}

.interview-header {
    /* BEGIN (write your solution here) */
    font: bold 50px/1.2 Cormorant, serif;
    /* END */
}

.interview-description {
    /* BEGIN (write your solution here) */
    color: #686868;
    font-family: sans-serif;
    /* END */
}

.interview-footer {
    /* BEGIN (write your solution here) */
    font-size: 12px;
    line-height: 1.25;
    text-align: right;
    /* END */
}

.interview-text {
    /* BEGIN (write your solution here) */
    font-size: 20px;
    line-height: 1.75;
    text-align: justify;
    /* END */
}