/* @font-face {
    font-weight: 400;
    font-family: "Roboto Mono";
    src: url(../assets/fonts/RobotoMono-Regular.woff2) format('woff2');
} */

@font-face {
    font-weight: 400;
    font-family: "Roboto Mono";
    src: url(../assets/fonts/RobotoMono-Regular.ttf) format('ttf');
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Roboto Mono", monospace;
    background: #333131;
}

p {
    margin: 5px 0;
}

/* BEGIN (write your solution here) */

.calculation {
    width: 300px;
    font-family: "Roboto Mono", serif;
    background-color: #2c3e50;
}

.calculation-screen {
    padding: 30px;
    color: #fff;
    background-color: #505c68;
    text-align: right;
}

.calculation-screen p {
    margin: 5px 0;
}

.key {
    display: block;
    width: 75px;
    height: 75px;
    font-size: 1.2em;
    border: none;
    background: none;
    cursor: pointer;
    color: #fff;
}

.key:hover {
    background-color: #364c63;
}

.calculation-keys .keys-row {
    display: flex;
    justify-content: space-between;
}

/* END */

.small {
    font-size: 80%;
}

.bg-blue {
    background: #3498db;
}

.bg-blue:hover {
    background: #67b2e4;
}

.text-big {
    font-size: 3em;
}

.text-gray {
    color: #ced4d9;
}