* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 85vw;
}

.grid-6 {
  display: grid;
  grid-template-rows: 15vh 75vh 10vh;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-areas:
    "header     header header"
    "left-aside main   right-aside"
    "footer     footer footer";
  gap: 50px;

  }

.grid-element {
  padding: 20px;

  font-size: 14px;
  color: #fff;
}

.bg-gray {
  background: darkgray;
}

.bg-red {
  background: red;
}

.bg-blue {
  background: blue;
}

.bg-green {
  background: green;
}

.bg-orange {
  background: orange;
}

.grid-header {
  grid-area: header;
}

.grid-left-aside {
  grid-area: left-aside;
}

.grid-main {
  grid-area: main;
}

.grid-right-aside {
  grid-area: right-aside;
}

.grid-footer {
  grid-area: footer;
}
