body {
    width: 700px;
    margin: 0 auto;
    padding: 100px 0;
    font-family: serif;
    background-color: #eee;
}

/* BEGIN (write your solution here) */

/* Заголовки всех уровней по умолчанию имеют нормальное начертание,
выравнивание по центру и цвет #646464
Заголовок первого уровня имеет жирное начертание и размер шрифта 70 пикселей.
Заголовок второго уровня имеет размер шрифта 40 пикселей.
Заголовок третьего уровня имеет размер шрифта 20 пикселей.
Заголовок четвёртого уровня имеет размер шрифта 18 пикселей.
Параграфы выровнены по ширине. Размер шрифта 16 пикселей и цвет #333. */

h1, h2, h3, h4 {
    font-weight: normal;
    text-align: center;
    color: #646464;
}

h1 {
    font-weight: bold;
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
    text-align: justify;
    color: #333;
}

/* END */