@font-face {
  font-family: 'Raleway';
  src: url('../src/fonts/Raleway-Bold.ttf');
}

:root {
  --color-gray: #dfe2d9;
  --color-dark: #333;
  --font-style: 'Raleway', sans-serif;
  --vertical-line-height: 25vh;
}

body {
  box-sizing: border-box;
  width: 715px;
  margin: 0 auto;
  padding: 20px 0 calc(var(--vertical-line-height) / 2);

  color: var(--color-dark);
  font-family: var(--font-style);
  line-height: 1.7;

  background: var(--color-gray);
}

p {
  margin: 0;

  font-weight: bold;
}

h1 {
  margin: 0;

  font-size: 80px;
}

/* BEGIN */

.grid {
  position: relative;

  display: grid;
  grid-gap: 40px 55px;
  grid-template-columns: repeat(5, 85px);
  justify-content: end;
}

.line {
  height: var(--vertical-line-height);
}

.line-2x {
  height: calc(var(--vertical-line-height) * 2);
}

.line-absolute {
  position: absolute;

  bottom: -70px;
  left: -70px;

  width: 85px;

  opacity: 0.7;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-5 {
  grid-column: span 5;
}

.line-start-1 {
  grid-column-start: 1;
}

.line-start-2 {
  grid-column-start: 2;
}

.line-start-3 {
  grid-column-start: 3;
}

.line-start-4 {
  grid-column-start: 4;
}

.line-start-5 {
  grid-column-start: 5;
}

.line-end {
  grid-column-end: -1;
}

/* END */

.blue {
  background: #0271a1;
}

.orange {
  background: #f37022;
}

.pink {
  background: #cd0076;
}