body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  color: #1e293b;
  font: 18px/1.5 sans-serif;

  background: #f8fafc;
}

small {
  color: #626976;
}

.notifications {
  width: 500px;
  height: 500px;
  padding: 1rem;

  /* BEGIN (write your solution here) */
  overflow: scroll;
  /* END */

  background: #fff;
  border: 1px solid rgb(98 105 118 / 16%);
  box-shadow: rgb(30 41 59 / 4%) 0 2px 4px 0;
}

.notifications-item {
  padding: 1rem 0;

  border-bottom: 1px solid rgb(98 105 118 / 16%);
}

.notifications-item:last-child {
  padding-bottom: 0;

  border: none;
}

.notifications-item h3 {
  margin: 0;

  /* BEGIN (write your solution here) */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* END */
}

.notifications-item p {
  margin: 0;
}
