:root {
  --transparent: transparent;
  --purple: #9c27b0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  /* BEGIN (write your solution here) */
  background: repeating-linear-gradient(45deg,
      var(--transparent), var(--transparent) 100px,
      var(--purple) 100px, var(--purple) 200px);
  /* END */
}