@font-face {
  font-family: "Fira Code";
  src: url("../assets/fonts/FiraCode-Regular.ttf");
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;

  font: 18px/1.5 "Fira Code", monospace;

  background-color: #fbfbfb;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.table {
  overflow: hidden;

  color: #e3e3e3;
  text-align: left;

  background: #2c3845;

  border-radius: 10px;
}

.table tr:nth-child(odd) {
  background-color: #232e38;
}

.table th {
  color: #ffeb3b;
}

.table th,
.table td {
  padding: 10px 20px;

  border: 1px solid #28333f;
}

/* BEGIN (write your solution here) */
@media (max-width: 649px) {
  .table thead {
    display: none;
  }

  .table td::before {
    content: attr(data-th) ":\00a0";
    color: #7a91aa;
    font-weight: bold;
  }

  .table th,
  .table td {
    border: none;
  }

  .table tr {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 449px) {
  .table td {
    text-align: center;
  }

  .table td::before {
    display: block;
    content: attr(data-th);

    font-size: 0.8rem;
  }
}
/* END */
