doctype html
html
  head
    include sections/head.pug
  body
    h1 Hello from Pug!
    h2 Automatic page compilation sample
    h3 Some content
    p 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat assumenda
        | animi uisquam ea, maxime quae dolorum numquam pariatur eveniet. Facilis
        | exercitationem similique delectus voluptatem illum sit repudiandae voluptate
        | at minus.
    include sections/footer.pug
