/* BEGIN (write your solution here) */

@font-face {
    font-weight: 400;
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.ttf');
}

@font-face {
    font-weight: 700;
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Bold.ttf');
}

/* END */

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 50px;
    color: #eee;
    /* BEGIN (write your solution here) */
    font: 20px/1.5 "Raleway", sans-serif;
    /* END */
    background-image: linear-gradient(to right top, #222831, #282d36, #2d333b, #333841, #393e46);
}

img {
    max-width: 100%;
    vertical-align: middle;
}

a {
    color: inherit;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #00adb5;
    font-size: 1.5em;
}

.tabs {
    width: 1024px;
    margin: 0 auto;
    /* BEGIN (write your solution here) */
    column-count: 3;
    column-gap: 0;
    /* END */
}

/* BEGIN (write your solution here) */

.tabs-header {
    column-span: all;
}

.tab-name {
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
    background-color: #00adb5;
    break-inside: avoid;
}

.tab-name:hover,
.tab-name:focus {
    border-bottom: solid 3px #5ffbf1;
}

.tab-name[data-tab="html"]:hover~.tabs-content .tabs-content-item[data-tab="html"],
.tab-name[data-tab="html"]:focus~.tabs-content .tabs-content-item[data-tab="html"],
.tab-name[data-tab="css"]:hover~.tabs-content .tabs-content-item[data-tab="css"],
.tab-name[data-tab="css"]:focus~.tabs-content .tabs-content-item[data-tab="css"],
.tab-name[data-tab="js"]:hover~.tabs-content .tabs-content-item[data-tab="js"],
.tab-name[data-tab="js"]:focus~.tabs-content .tabs-content-item[data-tab="js"] {
    display: block;
}

.tabs-content {
    column-count: 3;
    column-span: all;
    column-gap: 30px;
    background-color: #393e46;
}

.tabs-content-item {
    display: none;
    padding: 20px;
}

/* END */

.span-all {
    column-span: all;
}