body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  background: #f9f9f9;
}

h1 {
  margin: 0;
}

p {
  margin-bottom: 0;
}

.flexible-aside {
  /* BEGIN (write your solution here) */
  /* END */
}

.main {
  /* BEGIN (write your solution here) */
  /* END */
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container {
  padding: 10px 20px;
}

.nav {
  border-bottom: 1px solid #e0e0e0;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 15px 30px;
}

.nav a {
  color: inherit;
  text-decoration: none;
}

.nav li:hover {
  color: #3c3c3c;
  background: #f1f1f1;
  cursor: pointer;
}