//- HTML: Препроцессор Pug. Тэги и контент
//- https://ru.hexlet.io/courses/html-pug/lessons/html/exercise_unit
//- https://ru.hexlet.io/code_reviews/1757911

doctype html
html(lang='ru')
  head
    title Обучение вёрстке
  body
    h1 Обучение вёрстке
    section
      h2 Основные навыки
      ul
        li
          h3 HTML5
          p Язык разметки веб-страниц. Базовый инструмент для формирования контента на сайте с помощью специальных конструкций разметки
        li
          h3 CSS3
          p Таблицы стилей веб-страниц. Отвечают за визуальное оформление сайта, анимации интерфейсов, адаптации страниц под разные разрешения и разные устройства
    section
      h2 Дополнительные навыки
      ul
        li
          h3 Инструменты автоматизации (SASS, Pug, Gulp)
          p Расширение возможностей при написании HTML и CSS. Автоматизация рутинных задач с помощью Gulp
        li
          h3 Фреймворк Bootstrap
          p Использование всех возможностей фреймворка Bootstrap для создания собственных компонентов, а так же использования готовых средств