doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' type='image/x-icon' href='favicon.ico')

    title Мой первый Pug-шаблон

    link(rel='stylesheet' href='./styles/app.css')

  body
    section.container
      .col-2
        .content
          h1 О Хекслете
          p
            | Хекслет — практические курсы по программированию.
            | Мы помогаем новичкам стать профессиональными программистами,
            | а опытным разработчикам получать новые знания и расти профессионально.
        .side
          ul
            li
              | #[strong Теория.] Короткая лекция в виде текста или видео.
              | Она основана на задаче, так что в отличие от традиционной академической теории,
              | мы делаем упор на специфическую задачу, которая уже решена умными инженерами и
              | программистами, а затем следуем по их шагам, чтобы понять решение.
            li
              | #[strong Тест.] Проверка вашего понимания. Нам не важно запоминание фактов, 
              | поэтому вопросы теста нацелены на понимание концепции, а не на тренировку памяти.
            li
              | #[strong Практика.] Упражнения по программированию в реальной среде разработки,
              | доступны через браузер. Не в виде симуляции, не в виде игрушки, а на настоящей машине
              | с базами данных, фреймворками, серверами и другими инструментами.
