//- HTML: Препроцессор Pug. JavaScript
//- https://ru.hexlet.io/courses/html-pug/lessons/javascript/exercise_unit
//- 

doctype html
html(lang='ru')
  head
    title Когнитивные искажения. Эффект ИКЕА
  body
    //- BEGIN (write your solution here)
    include blocks/article.pug
    //- END
