//- HTML: Препроцессор Pug. Подключение файлов
//- https://ru.hexlet.io/courses/html-pug/lessons/include/exercise_unit
//- https://ru.hexlet.io/code_reviews/1760612

doctype html
html(lang='ru')
  head
    title Когнитивные искажения. Эффект ИКЕА
  body
    //- BEGIN (write your solution here)
    include blocks/article.pug
    //- END
