//- HTML: Препроцессор Pug. Миксины
//- https://ru.hexlet.io/courses/html-pug/lessons/mixin/exercise_unit
//- https://ru.hexlet.io/code_reviews/1767111

include mixins/mixin.pug

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Hexlet Table
  body
    +table(
      ["№","Профессия","Описание","Срок"],
      [
        ["1","Фронтенд-программист","Разработка фронтенд-компонентов веб-приложений","8 месяцев"],
        ["2","Python-программист","Разработка веб-приложений на Django","8 месяцев"],
        ["3","PHP-программист","Разработка веб-приложений на Laravel","8 месяцев"],
      ]
    )
