body {
  margin: 0;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

.grid-12 {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  grid-template-rows: 15vh 69vh 10vh;
  grid-template-areas:
    "header     header header"
    "left-aside main   right-aside"
    "footer     footer footer";
  gap: 3vh;
  }
  
  .grid-element {
    padding: 20px;
    
    font-size: 14px;
    color: #fff;
  }
  
  .grid-header {
    grid-area: header;
  }
  
  .grid-left-aside {
    grid-area: left-aside;
  }
  
  .grid-main {
    grid-area: main;
  }
  
  .grid-right-aside {
    grid-area: right-aside;
  }
  .grid-footer {
    grid-area: footer;
  }
  
  .bg-gray {
    background: darkgray;
  }
  
  .bg-red {
    background: red;
  }
  
  .bg-blue {
    background: blue;
  }
  
  .bg-green {
    background: green;
  }
  
  .bg-orange {
    background: orange;
  }
  