body {
  margin: 0;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

.grid-12 {
  display: grid;
  grid-template-areas:
    "header     header     header header header header header header header header      header      header"
    "left-aside left-aside main   main   main   main   main   main   main   right-aside right-aside right-aside"
    "footer     footer     footer footer footer footer footer footer footer footer      footer      footer";
    height: 100vh;
  }
  
  .grid-element {
    padding: 5px;
    
    font-size: 14px;
    color: #fff;
  }
  
  .grid-header {
    grid-area: header;
    height: 15vh;
  }
  
  .grid-left-aside, .main, .grid-right-aside {
    height: 75vh;
  }
  
  .grid-left-aside {
    grid-area: left-aside;
  }
  
  .grid-main {
    grid-area: main;
  }
  
  .grid-right-aside {
    grid-area: right-aside;
  }
  .grid-footer {
    grid-area: footer;
    height: 10vh;
  }
  
  .bg-gray {
    background: darkgray;
  }
  
  .bg-red {
    background: red;
  }
  
  .bg-blue {
    background: blue;
  }
  
  .bg-green {
    background: green;
  }
  
  .bg-orange {
    background: orange;
  }
  