html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    background: #f1f1f1;
}

.modal {
    /* BEGIN */
    width: max-content;
    /* END */
    max-width: 500px;
    /* BEGIN */
    height: max-content;
    /* END */
    max-height: 260px;
    /* Дополнительное значение для браузера Firefox */
    padding: 40px 40px 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px -8px rgba(209, 205, 209, 1);
    -moz-box-shadow: 10px 10px 5px -8px rgba(209, 205, 209, 1);
    box-shadow: 10px 10px 5px -8px rgba(209, 205, 209, 1);
}

.modal-center {
    /* BEGIN */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /* END */
}

h2 {
    margin: 0 0 1em;
    color: #333;
    font-size: 1.6em;
}

.modal-content {
    color: #616161;
}

.modal-footer {
    float: right;
    margin: 1.5em 0 0;
}

.btn {
    display: inline-block;
    padding: 10px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.btn-blue {
    color: #fff;
    background: #2196f3;
}