doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Bootstrap Advanced
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content="")
    link(rel="stylesheet" type="text/css" href="styles/app.css")
    link(rel="stylesheet" type="text/css" href="styles/main.css")
  body
    div.container
      div.row
        div.col Column 1
        div.col Column 2
        div.col Column 3
      div.row
        div.col First
        div.col Second
        div.col Third