/* @import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Open+Sans:wght@400;700&display=swap');*/

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: normal;
  font-family: 'Brygada 1918';
  src: url('../assets/fonts/Brygada1918-Regular.woff');
  src: url('../assets/fonts/Brygada-1918.ttf');
}

:root {
  --color-yellow: #f7df1e;
  --color-dark: #0b1d26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font: normal 16px/36px 'Open Sans', sans-serif;
  color: #fff;
  background-color: var(--color-dark);
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1900px;
  height: 912px;
  margin-left: 310px;
}

.hero-section>* {
  width: 640px;
}

.section-image img {
  width: 450px;
  margin-left: 130px;
}

.section-content {
  position: relative;
  padding: 127px 30px;
}

.section-content-logo {
  position: absolute;
  top: 154px;
  left: -70px;
  font-weight: bold;
  font-size: 200px;
  line-height: 0%;
  opacity: 0.1;
  letter-spacing: 4.2px;
}

.section-content-header {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 20px;
}

.section-content-header .line {
  width: 70px;
  height: 2px;
  margin-right: 30px;
  background-color: var(--color-yellow);
}

.section-content-header span {
  font-size: 14px;
  letter-spacing: 0.3em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-yellow);
}

.section-content-title {
  margin-bottom: 65px;
  font-family: 'Brygada 1918', sans-serif;
  font-size: 64px;
  font-weight: normal;
  line-height: 70px;
}

.section-content-text {
  margin-bottom: 16px;
}

.section-content-link {
  color: var(--color-yellow);
  font-size: 17px;
  line-height: 39px;
  text-decoration: none;
}

.section-content-link a {
  margin-left: 10px;
  color: var(--color-yellow);
  font-family: 'Arial', sans-serif;
  font-size: 25.5px;
  text-decoration: none;
}