/* @import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Open+Sans:wght@400;700&display=swap');*/

@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
  font-weight: normal;
  font-family: 'Brygada 1918';
  src: url('../assets/fonts/Brygada-1918.ttf');
}

:root {
  --color-yellow: #f7df1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #0b1d26;
  font-family: 'Open Sans', sans-serif;
}

.hero-section {
  position: relative;
  width: 580px;
  margin-top: 227px;
  margin-left: 375px;
}

.section-logo {
  position: absolute;
  top: 27px;
  left: -100px;
  font-weight: bold;
  font-size: 200px;
  line-height: 0%;
  opacity: 0.1;
  letter-spacing: 4.2px;
}

.section-pucture {
  position: absolute;
  top: -127px;
  left: 740px;
}

.section-header {
  display: flex;
  align-items: center;
  height: 32.2px;
  margin-bottom: 20px;
}

.section-header .line {
  width: 70px;
  height: 2px;
  margin-right: 30px;
  background-color: var(--color-yellow);
}

.hero-section span {
  color: var(--color-yellow);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.32em;
  /* вместо 0.3em */
}

.section-title {
  margin-bottom: 67px;
  /* 65px */
  font-family: 'Brygada 1918', serif;
  font-size: 61.5px;
  font-size: 64px;
  line-height: 70.4px;
}

.section-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 36px;
}

.section-link {
  color: var(--color-yellow);
  font-size: 17px;
  line-height: 39.1px;
  text-decoration: none;
}

.section-link a {
  position: relative;
  top: 1.5px;
  margin-left: 6px;
  color: var(--color-yellow);
  font-family: 'Arial', sans-serif;
  font-size: 25.5px;
  line-height: 25.5px;
  text-decoration: none;
}