/* Структура каталога следующая:

Корневой div с классом catalog
Внутри 6 карточек товара с классом catalog-item. Карточки имеют следующие характеристики:
Заголовок h3 с названием товара.
Изображение. Путь проставьте произвольный.
Параграф с классом price. Внутри параграфа располагается произвольная цена.
Ширина карточки товара: 350px. */

/* BEGIN (write your solution here) */

img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  width: 350px;
}

/* END */