html {
    color: #463f3a;
    font: 18px/1.5 sans-serif;
  }
  
  body {
    width: 980px;
    margin: 0 auto;
    padding: 70px;
  }
  
  h1,
  h2,
  h3,
  p {
    margin-top: 0;
  }
  
  h1 {
    color: #e07a5f;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }
  
  img {
    max-width: 100%;
    height: auto;
  
    vertical-align: middle;
  }
  
  .article {
    column-count: 2;
    column-gap: 50px;
    column-rule: 1px solid #3d405b;
  }
  
  .applicants {
    margin: 50px 0;
    padding: 20px;
  
    color: #f4f1de;
  
    column-count: 2;
    column-span: all;
  
    background: #3d405b;
  }
  
  .applicants-header {
    column-span: all;
  }
  
  .member {
    break-inside: avoid;
  }
  
  .member-name {
    margin: 20px 0 0;
  
    font-weight: bold;
  }
  
  .w-100 {
    width: 100%;
  }
  