* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  
    color: #303846;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.5;
  
    background: #f0f3f4;
  }
  
  h1 {
    padding-right: 15px;
    padding-left: 15px;
  
    font-weight: bold;
    font-size: 3em;
  }
  
  h2 {
    padding-right: 15px;
    padding-left: 15px;
  
    font-weight: bold;
    font-size: 2em;
  }
  
  .h-150 {
    height: 150px;
  }
  
  .p-2 {
    padding: 2em;
  }
  
  .mr-1 {
    margin-right: 1em;
  }
  
  .font-2 {
    font-size: 2em;
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .bg-light {
    background: #f7f7f7;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    border-bottom: 1px solid #e0dfdf;
  }
  
  .fixed-header {
    /* BEGIN (write your solution here) */
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    /* END */
  }
  
  .padding-header {
    /* BEGIN (write your solution here) */
    padding-top: 100px;
    /* END */
  }
  
  .nav-horizontal {
    display: flex;
    justify-content: space-between;
  
    list-style: none;
  }
  
  .nav-horizontal a {
    color: #666;
    font-weight: bold;
    text-decoration: none;
  
    transition: 0.6s;
  }
  
  .nav-horizontal .active-link {
    color: #424e75;
  }
  
  .nav-horizontal a:hover {
    color: #c44741;
  }
  
  .container {
    width: 1230px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .column-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .column-2 {
    width: 48%;
    margin-bottom: 2%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .column-4 {
    width: 23%;
    margin-bottom: 2%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .card {
    padding: 10px 25px;
  
    background: #f9f9f9;
    border: 1px solid #ccc;
  }
  
  .card-name {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .card-price {
    color: #666;
    font-weight: bold;
  }
  