doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Bootstrap Advanced
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="description" content="")
    link(rel="stylesheet" type="text/css" href="styles/main.css")
  body
    div.container
      h1 Hello, advanced Bootstrap!
      div.row
        div.col Column 1
        div.col Column 2
        div.col Column 3
      div.row
        div.col First
        div.col Second
        div.col Third

      h3 Мудрость дня
      blockquote(class='citation citation-warning')
        .citation-body
          | Основная задача не в том, чтобы найти ошибку.
          | А в том, чтобы найти условия, при которых код продолжает свою работу
        .citation-footer 
          cite Кирилл Мокевнин
