@use "colors";
@use "sizes";

@mixin opacity-transition-1s {
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

@mixin link-hover {
    opacity: 0.5;
    @include opacity-transition-1s;
}

@mixin hover-element {
    &:hover {
        opacity: 0.5;
        @include opacity-transition-1s;
    }
}

@mixin link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    &:hover {
        @include link-hover;
    }
}

.link {
    @include link;
}

.block {
    width: sizes.$block-size;
    height: sizes.$block-size;
    
    border: colors.$red dotted sizes.$border-size;
    background-color: colors.$primary;

    @include hover-element;
}
