$dark: #303846;
$light: #f7f7f7;
$primary: #09d3ac;
$secondary: #2196f3;

%flex-element-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 50%;
  background: brown;

  &.w-100 {
      width: 100%;
  }
}

.card {
  background: $light;
  border: 1px solid $dark;
}
  
.flex-center {
  @extend %flex-element-center;
}

// Компиляция:
// sass styles.cscc
// sass styles.cscc styles.css
