/* BEGIN (write your solution here) */

/* END */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* BEGIN (write your solution here) */
    /* END */
}

/* BEGIN (write your solution here) */

/* END */